@-webkit-keyframes greenPulse {
	from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
	50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
	to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes bluePulse {
	from { background-color: #079; -webkit-box-shadow: 0 0 9px #333; }
	50% { background-color: #099; -webkit-box-shadow: 0 0 18px #099; }
	to { background-color: #079; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangePulse {
	from { background-color: #f60; -webkit-box-shadow: 0 0 9px #333; }
	50% { background-color: #f90; -webkit-box-shadow: 0 0 18px #f90; }
	to { background-color: #f60; -webkit-box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes magentaPulse {
	from { background-color: #360; -webkit-box-shadow: 0 0 9px #333; }
	50% { background-color: #590; -webkit-box-shadow: 0 0 18px #590; }
	to { background-color: #360; -webkit-box-shadow: 0 0 9px #333; }
}@-webkit-keyframes redPulse {
	from { background-color: #930; -webkit-box-shadow: 0 0 9px #333; }
	50% { background-color: #f00; -webkit-box-shadow: 0 0 18px #f70; }
	to { background-color: #930; -webkit-box-shadow: 0 0 9px #333; }
}@-webkit-keyframes orangellowPulse {
	from { background-color: #960; -webkit-box-shadow: 0 0 9px #333; }
	50% { background-color: #990; -webkit-box-shadow: 0 0 18px #990; }
	to { background-color: #960; -webkit-box-shadow: 0 0 9px #333; }
}
.green.button {
	-webkit-animation-name: greenPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
.blue.button {
	-webkit-animation-name: bluePulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
.orange.button {
	-webkit-animation-name: orangePulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
.magenta.button {
	-webkit-animation-name: magentaPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
.red.button {
	-webkit-animation-name: redPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
.orangellow.button {
	-webkit-animation-name: orangellowPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
.animationButton {
	width: 100%;
	text-align: center;
}
.button {
	text-decoration: none;
	font-size: 18px;
	color: white;
	padding: 5px 20px;
	margin: 2px 3px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	border-width: 0px;
	border-radius: 5px;
} 