#wrap {
  width: 960px;
  margin: 0 auto;        
  background-color: #ccc;
  overflow: hidden;
  color: #0f0;
}
#view {
  width: 900px;
  float: left;
  background-color: black;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #333,5px 5px 5px #333;
  margin: 10px;
  padding: 10px;
}
input {
  padding: 3px 5px;
  margin: 8px 8px;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}
button {
  font-size: 32px;
  background-color: black;
  border: 1px solid #0f0;
  color: #0f0;
  margin: 10px 0;
}
.bself {
  color: #f60;
}


