#wrap {
  width: 960px;
  margin: 0 auto;        
  background-color: #ccc;
  overflow: hidden;
  color: #0f0;
}
#view {
  width: 900px;
  float: left;
  background-color: black;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #333,5px 5px 5px #333;
  margin: 10px;
  padding: 10px;
}
