---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article> <hr/>

<a href="javascript:history.go(-1);"><img alt="UNDO" width="60" height="55" src="/assets/images/undo.png" title="撤销"/></a>
{% unless page.title contains '目录' %}
<a href="/{{page.categories.first|downcase}}/2017/01/01/{{page.categories}}-00.html")><img alt="返回{{ page.categories }}目录" width="60" height="55" src="/assets/images/menu.png" title="返回{{ page.categories }}目录" /></a>
{% endunless %}
<a href="/"><img alt="HOME" width="60" height="55" src="/assets/images/home.png" title="返回主页"/></a>
